@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Spartan";
}

* {
  box-sizing: border-box;

  font-size: 12px;
}

.mainContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.cell-1 {
  display: flex;
  height: 360px;
}

.title {
  font-size: 22px;
  margin-left: 30%;
  padding-top: 44px;
  color: white;
  font-weight: 600;
}

.navIcon {
  padding-top: 50px;
  padding-left: 20px;
}

.hero-1 {
  background: url("/images/mobile-image-hero-1.jpg") no-repeat;
  background-size: cover;
}

.hero-2 {
  background: url("/images/mobile-image-hero-2.jpg") no-repeat;
  background-size: cover;
}

.hero-3 {
  background: url("/images/mobile-image-hero-3.jpg") no-repeat;
  background-size: cover;
}

.heroNavMobile {
  margin-left: auto;
  margin-top: auto;
}

.leftButton {
  height: 50px;
  width: 50px;
  background: black;
  border: none;
}

.leftButton:active {
  background: gray;
}

.rightButton {
  height: 50px;
  width: 50px;
  background: black;
  border: none;
}

.rightButton:active {
  background: gray;
}

.cell-2 {
  display: flex;
  flex-direction: column;
  height: 400px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
}

.mainHeader {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.shopButton {
  letter-spacing: 0.6rem;
  font-weight: 700;
  height: 50px;
  margin-top: 50px;
  cursor: pointer;
}

.arrowIcon {
  margin-left: 30px;
}

.cell-3 {
  display: flex;
  height: 266px;

  background: url("/images/image-about-dark.jpg") no-repeat;
  background-size: cover;
}

.cell-4 {
  display: flex;
  flex-direction: column;
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
}

.subHeader {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.4rem;
  margin-bottom: 12px;
}

.cell-5 {
  display: flex;
  height: 266px;

  background: url("/images/image-about-light.jpg") no-repeat;
  background-size: cover;
}

.description {
  color: hsl(0, 0%, 35%);
  line-height: 1.5;
}

.menuContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.menuBar {
  display: flex;
  height: 120px;
  background: white;
}

.menuItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  font-weight: 600;
  margin-left: 60px;
}

.closeIcon {
  align-self: center;
  margin-left: 30px;
}

.desktopMenu {
  display: none;
}

.heroNavDesktop {
  display: none;
}

@media (min-width: 425px) {
  .navIcon {
    display: none;
  }

  .mainContainer {
    grid-template-columns: 1.2fr 2fr 0.3fr 1.2fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }

  .cell-1 {
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .cell-2 {
    grid-column: 3/5;
    align-self: center;
    padding-left: 17%;
    padding-right: 17%;
    position: relative;
    height: 100%;
  }

  .cell-3 {
    height: 100%;
  }

  .cell-4 {
    grid-column: 2/4;
    padding-left: 6%;
    padding-right: 6%;
  }

  .cell-5 {
    height: 100%;
  }

  .hero-1 {
    background: url("/images/desktop-image-hero-1.jpg") no-repeat;
    background-size: 100% 100%;
  }

  .hero-2 {
    background: url("/images/desktop-image-hero-2.jpg") no-repeat;
    background-size: 100% 100%;
  }

  .hero-3 {
    background: url("/images/desktop-image-hero-3.jpg") no-repeat;
    background-size: 100% 100%;
  }

  .title {
    margin-left: 5%;
    font-size: 30px;
  }

  .desktopMenu {
    display: flex;
    justify-content: space-between;
    width: 24%;
    color: white;
    padding-top: 53px;
    margin-left: 6%;
  }

  .desktopMenuItem {
    font-size: 16px;
    cursor: pointer;
  }

  .mainHeader {
    font-size: 36px;
  }

  .heroNavMobile {
    display: none;
  }

  .heroNavDesktop {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .leftButton {
    height: 75px;
    width: 75px;
    cursor: pointer;
  }

  .rightButton {
    height: 75px;
    width: 75px;
    cursor: pointer;
  }

  .shopButton {
    letter-spacing: 0.8rem;
  }

  .navWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .homeSelected {
    opacity: 1;
    height: 3px;
    width: 4rem;
    position: relative;
    background: white;
  }

  .shopSelected {
    opacity: 1;
    height: 3px;
    width: 3.5rem;
    position: relative;
    background: white;
  }

  .aboutSelected {
    opacity: 1;
    height: 3px;
    width: 4.2rem;
    position: relative;
    background: white;
  }

  .contactSelected {
    opacity: 1;
    height: 3px;
    width: 5.3rem;
    position: relative;
    background: white;
  }
}

a {
  color: inherit
}

a:visited {
  color: black;
}